{% extends "base.html" %}
{% block content %}
    <div class="content-section mt-4">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="form-group mb-3">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group mb-3">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                            <div class="alert alert-danger mt-1">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-3">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}